
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

template:
- light:
  - unique_id: bedroom_custom_dimmer
    name: Bedroom Dimmer
    default_entity_id: light.bedroom_dimmer

    level: '{{ ((states(''number.bedroom_dimmer_fan_bright_value'') | float) / 1000
      * 255) | int }}'
    state: '{{ is_state(''switch.bedroom_dimmer_fan_light'', ''on'') }}'

    turn_on:
      action: switch.turn_on
      target:
        entity_id: switch.bedroom_dimmer_fan_light

    turn_off:
      action: switch.turn_off
      target:
        entity_id: switch.bedroom_dimmer_fan_light
      
    set_level:
      action: script.bedroom_light_level
      data:
        brightness: '{{brightness}}'

- fan:
  - unique_id: bedroom_custom_fan
    name: Bedroom Fan
    speed_count: 4
    state: '{{ is_state(''switch.bedroom_dimmer_fan_switch_fan'', ''on'') }}'
    percentage: '{{ state_attr(''fan.bedroom_overhead_switches'', ''percentage'') | int(0) }}'
    turn_on:
      action: switch.turn_on
      target:
        entity_id: switch.bedroom_dimmer_fan_switch_fan
    turn_off:
      action: switch.turn_off
      target:
        entity_id: switch.bedroom_dimmer_fan_switch_fan
    set_percentage:
      action: script.bedroom_fan_speed
      data:
        percentage: '{{percentage}}'
